.venv/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

mlruns/
mlartifacts/
mlflow.db
*.joblib
*.pt
*.pth
models/artifacts/

.env
.DS_Store
